.header {
    padding: 1rem;
  }
  
  .headline {
    font-size: 3rem;
  }
  
  .nav {
    list-style: none;
    padding: 0;
  }
  
  .nav li {
    display: inline;
    margin-right: 20px;
    list-style: none;
  }
  
  .nav li a {
    text-decoration: none;
    color: #0070f3;
  }
  